.profile-header
{
    margin-bottom: 20px;
}

.profile-head-txt
{
  color: var(--light-color);
  font-size: 14px;
  font-family: 'Int-Regular';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile-cnt
{
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.profile-buttons-section.profile-danger-zone
{
    margin-top: 20px;
}

.profile-buttons-section
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}

.profile-btn
{
    height: 30px;
    font-size: 14px;
    font-family: 'Int-Medium';
    padding: 10px 10px 20px 10px;
    cursor: pointer;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-btn i
{
    font-size: 14px;
}

.profile-btn.active
{
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.profile-account-details
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.profile-account-details:last-child
{
    margin-bottom: 0px;
}

.profile-account-item
{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.profile-title.master-title.danger
{
    color: var(--error-color);
}

.profile-label
{
    width: 250px;
    color: var(--light-color);
    font-size: 14px;
    font-family: 'Int-Medium';
}

.profile-label-data
{
    color: var(--light-color);
    font-size: 14px;
    font-family: 'Int-Regular';
}

.profile-label-data.profile-email
{
    font-size: 16px;
}

.profile-label-data.profile-username
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-label-data.profile-username button
{
    color: var(--accent-color);
    text-decoration: underline;
    font-size: 15px;
    font-family: 'Int-Regular';
}

.profile-label-data.profile-password
{
    width: auto;
    height: 40px;
    color: var(--light-color);
    background: var(--other-color);
    font-size: 13px;
    font-family: 'Int-Regular';
    padding: 0px 15px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
}

.profile-label-data.profile-password:hover
{
    background-color: var(--soft-accent-color);
}

.profile-btn.danger-zone.active
{
    color: var(--error-color);
    border-bottom: 2px solid var(--error-color);
}

.profile-danger-content-section
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.profile-danger-message
{
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Int-Regular';
}

.profile-danger-btn
{
    width: auto;
    height: 37px;
    color: var(--error-color);
    background: var(--other-color);
    font-size: 14px;
    font-family: 'Int-Regular';
    padding: 0px 25px;
    border: 2px solid var(--error-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-danger-btn:hover
{
    color: var(--primary-color);
    background-color: var(--error-color);
    transition: all 0.3s ease;
}

/* ====================== Profile Security ====================== */

.profile-unlock-box
{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 17px;
}

.profile-unlock-head
{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.profile-unlock-head-txt,
.profile-auto-lock-title
{
    width: 100%;
    color: var(--light-color);
    font-size: 16px;
    font-family: 'Int-SemiBold';
    margin-bottom: 10px;
    padding: 0px 7px;
}

.profile-unlock-options
{
    padding: 20px 7px 10px 7px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}

.profile-unlock-field
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    cursor: pointer;
}

.profile-unlock-field:hover .profile-unlock-icon
{
    color: var(--mini-color);
    transition: all 0.3s ease;
}

.profile-unlock-icon
{
    font-size: 18px;
}

.profile-unlock-field-txt-sec
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3px;
}

.profile-unlock-field-txt-title
{
    color: var(--light-color);
    font-size: 15px;
    font-family: 'Int-Medium';
}

.profile-unlock-field-txt-title-desc
{
    color: var(--text-color);
    font-size: 13px;
    font-family: 'Int-Regular';
    letter-spacing: 0.2px;
}

.profile-tab-dropdown {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.profile-tab-select {
  color: var(--light-color);
  background: var(--other-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 13px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.profile-tab-select i {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.profile-auto-lock-dropd {
    width: 100%;
    position: relative;
}

.profile-auto-lock-select {
    color: var(--light-color);
    background: var(--other-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 13px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-options {
    width: 100%;
    background: #1a1a1b;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 7px;

    transform: translateY(-10px);
    opacity: 0;
    animation: slideDown 0.3s ease-out forwards;
}

.dropdown-item {
    color: var(--light-color);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 3px;
}

.dropdown-item:last-child {margin-bottom: 0;}

.dropdown-item:hover {
    color: var(--mini-color);
    background: var(--soft-accent-color);
    border-radius: 10px;
}

.dropdown-item.active {
    color: var(--primary-color);
    background: var(--accent-color);
    border-radius: 10px;
}

.profile-auto-lock-select i {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ============= about ============= */

.profile-about
{
    width: 100%;
    height: calc(100vh - 165px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.about-field
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 15px;
}

.about-field-title
{
    width: 100px;
    color: var(--light-color);
    font-size: 15px;
    font-family: 'Int-Medium';
}

.about-field-link a
{
    color: var(--accent-color);
    font-size: 14px;
    font-family: 'Int-Regular';
    text-decoration: none;
    letter-spacing: 0.5px;
}

.profile-about-inspired
{
    color: var(--text-color);
    font-size: 10px;
}

.profile-about-inspired span
{
    text-decoration: underline;
}

