
.home-heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.home-heading-part {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home-heading {
    color: var(--light-color);
    font-size: 22px;
    font-family: 'Int-Medium';
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    letter-spacing: 1px;
}

.home-heading i {
    color: var(--accent-color);
    font-size: 25px;
}

.home-heading-part h6 {
    color: var(--text-color);
    font-size: 14px;
    font-family: 'Int-Regular';
    letter-spacing: 0.5px;
}

.home-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.home-add-btn i {
    font-size: 16px;
    font-weight: 800;
}


/* ================================================================== */


.login-create-wrapper {
    position: fixed;
    inset: 0;
    z-index: 99999999999999999999;
    pointer-events: all;
}

.login-create-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
    pointer-events: all;
}

.LoginCreate {
    max-width: 48%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #1e1e1e;
    z-index: 999999999999999999999;
    transform: translateX(100%);
    animation: slideInDrawer 0.3s forwards;
    pointer-events: all;
}

@keyframes slideInDrawer {
    to {
        transform: translateX(0%);
    }
}





























































