.navbar
{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: fixed;
    top: 0;
    background: var(--secondary-color);
    z-index: 9999999999999999999;
}

.navbar-cnt
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0px 15px;
    border-bottom: 1px solid var(--border-color);
}

.search-box {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    color: var(--text-light);
    font-size: 14px;
    pointer-events: none;
}

.search-input {
    width: 100%;
    height: 40px;
    color: var(--text-color);
    background-color: var(--other-color);
    padding: 0 15px 0 40px;
    border-radius: var(--border-radius);
    font-size: 14px;
    font-family: 'Int-Regular';
    border: 1px solid var(--border-color);
    outline: none;
}

.search-input:focus {
    border-color: var(--accent-color);
    outline: 3px solid #4ab4ff4d;
}

.navbar-part
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0px;
}

.navbar-toggle-btn
{
    color: var(--light-color);
    font-size: 19px;
    display: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navbar-logo .logo {
  width: 23px;
  margin-top: 0;
}

.navbar-logo-text {
  font-size: 25px;
  font-family: 'Bebas-Regular';
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 0;
  background: linear-gradient( 240deg, #ff3d3d, #ff8732, #ffee99, #fffae1, #00eaff, #288cff, #0033ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.navbar-logo .logo,
.navbar-logo-text {
  display: none;
}




































































