.vaults
{
    /* width: 500px; */
    height: calc(100vh - 70px);
    border-right: 1px solid var(--border-color);
    overflow-y: scroll;
}

.vaults::-webkit-scrollbar
{
    display: none;
}

.vaults-scroll-down-txt {
    width: 500px;
    height: 50px;
    color: var(--text-color);
    background: linear-gradient( to top, var(--secondary-color) 0%, var(--secondary-color) 40%, rgba(28, 28, 30, 0.5) 70%, rgba(28, 28, 30, 0.1) 90%, transparent 100%);
    font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    left: 300px;
    border-right: 1px solid var(--border-color);
}

.vaults-scroll-down-txt i {
  display: inline-block;
  animation: arrowJump 1s infinite;
  transition: transform 0.3s ease;
}

/* Animation keyframes */
@keyframes arrowJump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.vaults-cnt
{
    padding: 0px 15px;
}

.vaults-search
{
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    padding: 0px 15px;
}

.vaults-add-multiselect
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.vaults-multiselect
{
    height: 35px;
    color: var(--text-color);
    background-color: var(--other-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.vaults-filter
{
    height: 35px;
    color: var(--accent-color);
    background-color: var(--soft-accent-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
}

.vaults-add-btn
{
    height: 35px;
    color: var(--primary-color);
    /* background: linear-gradient(90deg, #7f88ff, #a777ff, #f58ae0); */
    background-color: var(--accent-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
}

.vaults-multiselect i,
.vaults-add-btn i
{
    font-size: 15px;
    font-weight: 500;
}

.vaults-title h6
{
    color: var(--text-color);
    font-size: 13px;
    margin-bottom: 10px;
}

.vaults-menu-list
{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-bottom: 25px;
}

.vaults-menu-item-group
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.vaults-menu-item
{
    width: 100%;
    height: 50px;
    color: var(--light-color);
    font-family: 'Int-Regular';
    font-size: 15px;
    padding: 0px 10px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    transition: all 0.3s ease;
    border-color: transparent;
    position: relative;
}

.vaults-group-list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.vaults-menu-type i
{
    width: 35px;
    height: 35px;
    color: var(--accent-color);
    background: var(--soft-accent-color);
    font-size: 15px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaults-menu-type i.login
{
    color: var(--accent-color);
    background: var(--soft-accent-color);
}

.vaults-menu-type i.card
{
    color: #93edbd;
    background: rgb(147, 237, 189, 0.15);
}

.vaults-menu-type i.note
{
    color: #ffdaad;
    background: rgb(255, 218, 173, 0.15);
}

.vaults-menu-type i.error
{
    color: var(--error-color);
    background: rgb(255, 117, 117, 0.15);
}

.vaults-menu-item h4
{
    color: var(--light-color);
    font-size: 15px;
    font-family: 'Int-Regular';
}

.vaults-menu-item:hover
{
    background: rgba(19, 20, 21, 0.35);
}

.vault-list-error-txt {
  color: var(--error-color);
  font-size: 10px;
  font-family: 'Int-Regular';
  letter-spacing: 0.5px;
  padding-right: 5px;
  animation: softBlink 1s infinite ease-in-out;
}

@keyframes softBlink {
  0%   { opacity: 1; }
  50%  { opacity: 0.1; }
  100% { opacity: 1; }
}

.vaults-menu-three-dot-btn
{
  width: 35px;
  height: 35px;
  color: var(--light-color);
  /* background-color: var(--other-color); */
  font-size: 16px;
  /* border: 1px solid var(--border-color); */
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

















