/* ******** Custome Fonts ******** */
/* === Inter === */

@font-face {
  font-family: 'Int-Bold';
  src: url(../src/assets/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Int-ExtraBold';
  src: url(../src/assets/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'Int-ExtraLight';
  src: url(../src/assets/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: 'Int-Light';
  src: url(../src/assets/fonts/Inter/Inter-Light.ttf);
}

@font-face {
  font-family: 'Int-Medium';
  src: url(../src/assets/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Int-Regular';
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Int-SemiBold';
  src: url(../src/assets/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Int-Thin';
  src: url(../src/assets/fonts/Inter/Inter-Thin.ttf);
}

/* === Bebas Neue === */

@font-face {
  font-family: 'Bebas-Regular';
  src: url(../src/assets/fonts/Bebas-Neue/Bebas-Regular.otf);
}

/* ============ */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
  outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;font-weight: 400;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
button{cursor: pointer;background: none;border: none;color: var(--text-color);}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
html {
  scroll-behavior: smooth;
}
.p_0{
  padding: 0px;
}
.pl-0{
  padding-left: 0px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track{background: #666666;}
::-webkit-scrollbar-thumb{background: var(--text-color);border-radius: var(--border-radius);}
::-webkit-scrollbar-thumb:hover{background: #d5d5d5;border-radius: var(--border-radius);}
input:-webkit-autofill {
  background: none;
}

/* ============================ */

:root {
  --primary-color: #141416;
  --secondary-color: #1c1c1e;
  --other-color:  rgba(19, 20, 21, 0.3);
  --accent-color: #868aff;
  --accent-color-rgb: 144, 151, 255;
  --soft-accent-color: rgba(var(--accent-color-rgb), 0.15);
  --gradient-color: #868aff 25%, #b590ff, #acffcd;
  --linear-gradient-color: linear-gradient(200deg, var(--gradient-color));
  --radial-gradient-color: radial-gradient(circle, var(--gradient-color));
  --mini-color: #c1c4ee;
  --light-color: #eeeef0;
  --low-light-color: #cbc9c9;
  --text-color: #9c9da0;
  --subheading-color: #686a6c;
  --border-color: #3a3a3a;
  --error-color: #ff7575;
  --success-color: #75dc90;
  --warning-color: #ffb84d;
  --border-radius: 11px;
  --border-size: 2px;
  --scroll-thumb: var(--border-color);
  --scroll-track: rgba(19, 20, 21, 0.5);

  color: var(--light-color);
  background-color: var(--secondary-color);
  font-family: 'Int-Regular';
  font-weight: 400 !important;
}

body.reset-css {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

input:-webkit-autofill {
  -webkit-box-shadow: none;
  -webkit-text-fill-color: var(--light-color);
  transition: background-color 5000s ease-in-out 0s;
}


.master-btn
{
  width: auto;
  height: 35px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  font-family: 'Int-Medium';
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.master-title
{
  color: var(--text-color);
  font-size: 13px;
  margin-bottom: 10px;
}

@keyframes borderRadialAnim {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.mini-master-btn {
  width: 35px;
  height: 35px;
  color: var(--light-color);
  background-color: var(--other-color);
  font-size: 14px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.custom-toast {
  color: var(--primary-color) !important;
  font-size: 15px !important;
  font-family: 'Int-Regular' !important;
  height: 40px !important;
  border-radius: 13px !important;
  bottom: 100px !important;
}

.master-cnt {
  height: 100%;
  display: grid;
  grid-template-columns: 500px 1fr;
}

.back-to-home i {
  width: 35px;
  height: 35px;
  color: var(--light-color);
  background-color: var(--soft-accent-color);
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-loader-container
{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-loader-container
{
  width: 100%;
  height: calc(100vh - 30%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffd82e;
  transform-origin: top;
  display: grid;
  animation: loader-3vgb5t 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #ff6b65;
  border-radius: 50%;
  transform-origin: top;
  animation: inherit;
  animation-name: loader-k94uub;
}

.loader::after {
  background: #4775ff;
  --s: 180deg;
}

@keyframes loader-3vgb5t {
  0%, 20% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-k94uub {
  50% {
    transform: rotate(var(--s,90deg));
  }

  100% {
    transform: rotate(0);
  }
}
























