/* ******** Custome Fonts ******** */
/* === Inter === */

@font-face {
  font-family: 'Int-Bold';
  src: url(../src/assets/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Int-ExtraBold';
  src: url(../src/assets/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: 'Int-ExtraLight';
  src: url(../src/assets/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: 'Int-Light';
  src: url(../src/assets/fonts/Inter/Inter-Light.ttf);
}

@font-face {
  font-family: 'Int-Medium';
  src: url(../src/assets/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Int-Regular';
  src: url(../src/assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Int-SemiBold';
  src: url(../src/assets/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Int-Thin';
  src: url(../src/assets/fonts/Inter/Inter-Thin.ttf);
}

/* ============ */

:root {
  --primary-color: #131315;
  --secondary-color: #1C1C1E;
  --light-color: #fbfbfc;
  --text-color: #938f8f;
  --subheading-color: #6c6868;
  --border-color: #3a3a3a;
  --accent-color: #6fadff;
  --yellow-color: #ffd700;
  --green-color: #19e24f;

  color: var(--light-color);
  background-color: var(--secondary-color);
  font-family: 'Int-Regular';

}

input:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

i {
  font-size: 14px;
}
