@media screen and (max-width:1400px) 
{


}

@media screen and (max-width:1200px)
{
 .master-cnt {
    grid-template-columns: 380px 1fr;
  }
}

@media screen and (max-width:1024px) 
{
  .master-cnt{grid-template-columns: 350px 1fr;}
  
  

}

@media screen and (max-width:992px)
{
 
  



}

@media screen and (max-width:768px) 
{


}

@media (max-width: 767px) 
{


}

@media screen and (max-width:575px) 
{
  

}

@media screen and (max-width:480px) 
{
.sidebar.desktop-menu{display: none;}
  .app-layout{margin-left: 0;}
  .mobile-menu{display: block;}
  .sidebar-link{width: 70px;display: flex;align-items: center;justify-content: center; margin-bottom: 0;}

}

@media screen and (max-width:375px) 
{


}