@media screen and (max-width:1400px) 
{
  .ContainerCreate{max-width: calc(100vw - 800px);}

}

@media screen and (max-width:1200px)
{
  .master-cnt {grid-template-columns: 380px 1fr;}
  .vaults-scroll-down-txt{width: 380px;}
  .profile-cnt{width: 100%;}
  .ContainerCreate{max-width: calc(100vw - 680px);}


}

@media screen and (max-width:1024px) 
{
  .main-cnt{width: 100%; height: calc(100vh - 70px); margin-left: 0px;}
  .navbar{width: 100%; margin-left: 0;}
  .vaults-scroll-down-txt{left: 0;}
  .master-cnt {grid-template-columns: 450px 1fr;}
  .vaults-scroll-down-txt{width: 450px;}
  .ContainerCreate{max-width: calc(100vw - 450px);}
  

}

@media screen and (max-width:992px)
{
  .master-cnt {grid-template-columns: 370px 1fr;}
  .vaults-scroll-down-txt{width: 370px;}
  .ContainerCreate{max-width: calc(100vw - 370px);}
  



}

@media screen and (max-width: 767px) 
{
  .master-cnt {grid-template-columns: 280px 1fr;}
  .vaults-scroll-down-txt{width: 280px;}
  .reset-css .main-cnt{padding: 25px;}
  .ContainerCreate{max-width: calc(100vw - 280px);}

}

@media screen and (max-width:575px) 
{
  .main-cnt{width: 100%; height: calc(100vh - 70px); margin-left: 0;}
  .sidebar.desktop-menu{display: none;}
  .mobile-menu{display: block;}
  .navbar-toggle-btn {display: none;}
  .master-cnt{grid-template-columns: 1fr;}
  .vaults-scroll-down-txt{width: 100%; border-right: none;}
  .sidebar-link{height: 40px;margin-bottom: 0;}
  .mobile-menu{
    width: 100%;
    height: 75px;
    background: linear-gradient( to top, var(--secondary-color) 0%, var(--secondary-color) 40%, rgba(28, 28, 30, 0.5) 70%, rgba(28, 28, 30, 0.1) 90%, transparent 100%);
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    transition: all 0.3s ease;
  }
  .click-to-copy-img{right: 0;}
  .main-cnt{padding: 20px;}
  .sidebar-link{width: 60px;display: flex;align-items: center;justify-content: center; margin-bottom: 0;}
  .sidebar-overlay {display: none !important;}
  .bottom-menu-mobile{gap: 5px;}
  .navbar-logo .logo{display: block;}
  .navbar-part, .navbar-cnt{gap: 10px;}
  .vaults-menu-list{padding-bottom: 75px;}
  .vaults-add-multiselect{display: none;}
  .vaults-add{gap: 10px;}
  .vaults-three-dot-btn.mini-master-btn{display: block;}
  .pass-fill-btn{display: none;}
  .premium-big-txt{font-size: 25px;}
  .premium-small-txt{font-size: 13px;}
  .encrypt-logo{font-size: 30px;}
  .reset-css .main-cnt{padding: 20px;}
  .premium-card-head{margin-bottom: 30px;}
  .premium-card{width: 100%;padding: 20px;}
  .premium-plan-list{gap: 15px;}
  .vaults-menu-three-dot-btn{display: flex;}
  .vaults-menu-item-group{gap: 10px;}
  .profile-label{width: 200px;}
  .profile-button-main-cnt{width: 100%;}
  .ContainerCreate{max-width: 100%;}
  .vaults, .vaultsData{height: calc(100vh - 90px); border-right: none;}
  .vaults-cnt{padding: 0;}
  .vd-head-title .back-to-home{display: block;}



}

@media screen and (max-width:480px) 
{
  .vaults-add-btn span{display: none;}
  .vaults-add-btn{width: 35px;}
  .profile-label{width: 170px;}
  .auth-heading-title{font-size: 24px;}



}

@media screen and (max-width:425px) 
{
  .auth-main-cnt-field{width: 350px;}

}

@media screen and (max-width:375px) 
{
  .premium-access-premium{font-size: 12px;}
  .premium-big-txt{font-size: 23px;}
  .profile-label{width: 110px;}
  .profile-account-details{padding-left: 8px;}
  .profile-btn.active{width: 50%;}
  .profile-btn.danger-zone{padding: 0px 10px 10px 10px; white-space: nowrap;}
  .auth-main-cnt-field{width: 300px;}

}



/* ================= Extra Code ================= */

@media (max-width: 1024px) and (min-width: 576px) {
  .sidebar.desktop-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    z-index: 999;
    transition: left 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  .sidebar.desktop-menu.open {left: 0;}
  .sidebar-overlay {display: block;}
  .navbar.shifted {z-index: -1;}
  .navbar-toggle-btn, .navbar-logo-text{display: block;}
  .navbar-part{gap: 15px;}








}