@media screen and (max-width:1400px) 
{


}

@media screen and (max-width:1200px)
{
  .master-cnt {grid-template-columns: 380px 1fr;}
  .vaults-scroll-down-txt{width: 380px;}



}

@media screen and (max-width:1024px) 
{
  .app-layout{margin-left: 0px;}
  .navbar{width: 100%; margin-left: 0;}
  .vaults-scroll-down-txt{left: 0;}
  .master-cnt {grid-template-columns: 450px 1fr;}
  .vaults-scroll-down-txt{width: 450px;}
  

}

@media screen and (max-width:992px)
{
  .master-cnt {grid-template-columns: 370px 1fr;}
  .vaults-scroll-down-txt{width: 370px;}
  



}

@media screen and (max-width: 767px) 
{
  .master-cnt {grid-template-columns: 280px 1fr;}
  .vaults-scroll-down-txt{width: 280px;}

}

@media screen and (max-width:575px) 
{
  .sidebar.desktop-menu{display: none;}
  .mobile-menu{display: block;}
  .navbar-toggle-btn {display: none;}
  .master-cnt{grid-template-columns: 1fr;}
  .vaults-scroll-down-txt{width: 100%; border-right: none;}
  .sidebar-link{height: 40px;margin-bottom: 0;}
  /* .bottom-menu-mobile
  {
    width: calc(100% - 45px);
    align-items: center;
    justify-content: space-between;
  } */
  .mobile-menu{
    width: 100%;
    height: 160px;
    background: linear-gradient( to top, var(--secondary-color) 0%, var(--secondary-color) 40%, rgba(28, 28, 30, 0.5) 70%, rgba(28, 28, 30, 0.1) 90%, transparent 100%);
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    transition: all 0.3s ease;
  }









}

@media screen and (max-width:480px) 
{

  .app-layout{margin-left: 0;}
  .sidebar-link{width: 70px;display: flex;align-items: center;justify-content: center; margin-bottom: 0;}
  .sidebar-overlay {display: none !important;}







}

@media screen and (max-width:375px) 
{


}



/* ================= Extra Code ================= */

@media (max-width: 1024px) and (min-width: 576px) {
  .sidebar.desktop-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    z-index: 999;
    transition: left 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  .sidebar.desktop-menu.open {left: 0;}
  .sidebar-overlay {display: block;}
  .navbar.shifted {z-index: -1;}
}