.vaultsData {
    width: 100%;
    height: 100%;
}

.vaultsData-cnt {
    width: 100%;
    padding: 0px 15px;
}

.vd-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.vd-head-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.vd-sec {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.vd-folder-btn {
    width: 100%;
    height: 36px;
    color: var(--light-color);
    background-color: var(--other-color);
    font-size: 14px;
    font-family: 'Int-Regular';
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
    padding: 0px 15px;
    letter-spacing: 0.3px;
}

.vd-folder-btn i {
    margin-bottom: -2px;
    font-size: 14px;
}

.vd-create-btn {
    width: 100%;
    height: 35px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-size: 14px;
    font-family: 'Int-Regular';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
    padding: 0px 15px;
    white-space: nowrap;
    letter-spacing: 0.3px;
}

.vd-create-btn i {
    font-size: 12px;
}

/* .vd-box
{
    width: 100%;
    background-color: var(--other-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
} */

.vd-error-txt {
    font-size: 13px;
    color: var(--error-color);
    font-family: 'Int-SemiBold';
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 7px;
    /* display: none; */
}

.vd-error-txt:last-child {
    align-items: start;
}

.password-error-message {
    margin-left: 15px;
}

.password-error-message li {
    margin: 4px 0;
    list-style: disc !important;
}

.valid {
    color: var(--success-color);
}

.invalid {
    color: var(--error-color);
}

.vd-error-txt i {
    font-size: 16px;
}

.vd-untitle-input {
    width: 100%;
    color: var(--text-color);
    font-size: 18px !important;
    font-family: 'Int-Bold' !important;
}

.vd-main-cnt-field {
    margin-bottom: 10px;
}

.vd-main-cnt-field:last-child .vd-input-field {
    background: none;
}

.vd-input-field {
    width: 100%;
    background-color: var(--other-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    align-items: start;
    padding: 13px 16px;
    cursor: pointer;
}

.vd-icon {
    margin-top: 10px;
}

.vd-icon i {
    width: 100%;
    color: var(--text-color);
    font-size: 16px;
    padding: 0px 16px 0px 0px;
}

.vd-input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
}

.vd-input-title {
    font-size: 13px;
    color: var(--mini-color);
    font-family: 'Int-Regular';
    letter-spacing: 0.3px;
    margin-bottom: 5px;
}

.vd-password-input {
    max-width: 20ch;
    /* 20 character after ... */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 20 character after line break */
    /* word-wrap: break-word;
    white-space: normal; */
}

.vd-input {
    width: 100%;
    color: var(--light-color);
    background: none;
    font-size: 14px;
    font-family: 'Int-Medium';
    border: none;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.vd-input::placeholder {
    color: var(--subheading-color);
}

.vd-note-input {
    resize: none;
    line-height: 20px;
}

.vd-pass-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    margin: 0px 0px 0px 12px;
}

.vd-pass-generate-icon,
.vd-pass-show-icon {
    width: 35px;
    height: 35px;
    color: var(--accent-color);
    background-color: var(--soft-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.vd-pass-generate-icon i,
.vd-pass-show-icon {
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.vd-pass-generate-icon:hover i {
    rotate: 50deg;
}

/* .vd-input-field.vd-group-box:nth-child(1) {
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.vd-input-field.vd-group-box:nth-child(2) {
    border: 1px solid var(--border-color);
    border-radius: 0;
    margin-top: -1px;
}

.vd-input-field.vd-group-box:last-child {
    border-radius: 15px;
    border: 1px solid var(--border-color);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -1px;
} */

.vd-top-rounded {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.vd-no-rounded {
    border-radius: 0px !important;
    margin-top: -1px;
}

.vd-bottom-rounded {
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -1px;
}

.vd-input-field.vd-group-box.vd-input-field-focused {
    border: 1px solid var(--accent-color) !important;
    position: relative;
    z-index: 2;
}

.vd-input-field-focused {
    border-color: var(--accent-color) !important;
}

.vd-input-field-focused.vd-top-rounded
{
    margin-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.vd-input-field-focused.vd-no-rounded
{
    margin-top: -1px;
    margin-bottom: 0;
    border-radius: 0;
}

.vd-input-field-focused.vd-bottom-rounded
{
    margin-top: -1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/* ============================================================================== */

.vd-head-title-txt {
    color: var(--light-color);
    font-size: 20px;
    font-family: 'Int-SemiBold';
    letter-spacing: 0.3px;
}

.vd-three-dot-btn {
    width: 35px;
    height: 35px;
}

.vd-delete-btn {
    color: var(--error-color) !important;
    background-color: rgb(255, 117, 117, 0.13) !important;
    border: 1px solid var(--error-color) !important;
}

.vd-create {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vd-edit-btn {
    height: 35px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-size: 13px;
    font-family: 'Int-Medium';
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: var(--border-radius);
}

.vd-website-input {
    color: var(--accent-color);
}

.vd-last-modified-field {
    width: 100%;
    background-color: var(--other-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    align-items: start;
    padding: 13px 16px;
}

.vd-last-modified-field:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    padding-bottom: 6px;
}

.vd-last-modified-field:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    padding-top: 6px;
}

.vd-last-modified-field .vd-input-section .vd-input-title {
    color: var(--light-color);
    font-size: 12px;
    margin-bottom: 0;
}

.vd-last-modified-field .vd-input-section .vd-input {
    color: var(--mini-color);
    font-size: 12px;
    font-family: 'Int-Regular';
    font-weight: 400;
    letter-spacing: 0;
}

.vd-clickable {
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.vd-clickable:hover {
    background-color: rgba(var(--accent-color-rgb), 0.04) !important;
}

.copy-notification {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Int-Medium';
    animation: fadeInOut 2s ease-in-out;
    z-index: 10;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

.vd-input-field.vd-group-box.vd-clickable:hover {
    z-index: 5;
}

.vd-input-field.vd-group-box.vd-clickable.vd-top-rounded:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.vd-input-field.vd-group-box.vd-clickable.vd-no-rounded:hover {
    border-radius: 0px;
}

.vd-input-field.vd-group-box.vd-clickable.vd-bottom-rounded:hover {
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.vd-website-field:hover {
    background: none !important;
    background-color: transparent !important;
}

.vd-website-field:hover .vd-input {
    text-decoration: underline;
}

.login-create-wrapper {
    position: fixed;
    inset: 0;
    z-index: 99999999999999999999;
    pointer-events: all;
}

.login-create-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 999999999;
    pointer-events: all;
}

.ContainerCreate {
    max-width: 48%;
    height: 100%;
    background-color: var(--secondary-color);
    pointer-events: all;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999999999999999999;
    transform: translateX(100%);
    animation: slideInDrawer 0.3s forwards;
}

@keyframes slideInDrawer {
    to {
        transform: translateX(0%);
    }
}

.vd-input-field.vd-active-field {
    background-color: rgba(var(--accent-color-rgb), 0.1) !important;
}
.vaults-menu-item.active {
  background-color: rgba(19, 20, 21, 0.5) !important;
}

